main {
    margin-top: 7.8%;
    text-align: center;
    white-space: nowrap;

    #logo {
        width: 16rem auto;
        padding-bottom: 1rem;
    }

    #div-searchbar {
        margin-top: 0.5rem;
        
        #searchbar {
            width: 37rem;
            height: 2.7rem;
            border-radius: 2rem;
            border: 1px solid #DADADB;
            padding: 1rem;
            text-indent: 2rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            cursor: text;

            &:hover {
                box-shadow: 0 0 0.6rem lightgray;
            }

            &:focus {
                outline: none;
            }
        }
     
        #searchicon {
            position: relative;
            bottom: 2.05rem;
            right: 16rem;
            width: 1.5rem;
            height: 1.5rem;        
        }
    
        #mic-icon {
            position: relative;
            width: 0.8rem;
            height: 1.2rem;
            bottom: 2.2rem;
            left:16rem;
            cursor: pointer;
        }
    }

    #buttons{
        padding-top: 1rem;
        padding-bottom: 2.7rem;
        
        #btn1:hover, #btn2:hover {
            color: black;
            box-shadow: 0.5px 0.5px 0.5px lightgray;
            border: solid 1px lightgray;
            }
        
        #btn1:active, #btn2:active {
            border: 1px solid #4285f4;
        }

        #btn1, #btn2 {
            border: hidden solid;
            background-color: #F2F2F2;
            padding: 0.7rem 1rem;
            font-size: 90%;
            border-radius: 0.3rem;
            text-decoration: none;
            color: grey;
        }
    
        #btn1 {
            margin-right: 0.5rem;
        } 
    }

    #description {
        font-size: 0.8rem;

        #language:link, #language:visited {
            color: #1A0DAB;
        }
    }
}